* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6em auto 2em;
}

.logo {
    width: 90%;
}

.logo-container {
    width: 80px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    font-family: 'Libre Franklin', sans-serif;
}

.dashboard {
    width: 100%;
}

.image-container {
    width: 325px;
    margin: 1.5em auto;
}

h1 {
    color: hsl(0, 0%, 59%);
    font-size: 26px;
    text-align: center;
    font-weight: 300;
}

span {
    color: hsl(209, 33%, 12%);
    font-weight: 700;
}

.text-p {
    color: hsl(209, 33%, 12%);
    margin-top: 0em;
    font-size: 20px;
    font-weight: 300;
}


#error {
    height: auto;
    color: hsl(354, 100%, 66%);
    font-size: 10px;
    width: 62%;
    margin: 0.5em auto;
    font-weight: 300;
    white-space: wrap;

}

.holder {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
    flex-direction: column;

}

input {
    max-width: 438px;
    height: 6vh;
    border-radius: 40px;
    padding-left: 13%;
    border: 1px solid hsl(0, 0%, 59%);
    font-weight: 300;
}

input:focus {
    outline: none;
    background: transparent;
    fill: none;
}

input::placeholder {
    color: hsl(0, 0%, 59%);
}

#form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

#btn {
    max-width: 525px;
    height: 6vh;
    border-radius: 40px;
    background: hsl(223, 87%, 63%);
    box-shadow: 0px 2px 10px 0px hsl(223, 100%, 88%);
    border: none;
    color: white;
    margin-top: 0em;
    font-weight: 600;
}

#btn:hover {
    background: hsla(223, 87%, 63%, 0.7);
}

.copyright {
    font-size: 10px;
    text-align: center;
    margin-top: 4em;
    font-weight: 600;
    color: hsl(0, 0%, 59%);
}

.fa-brands {
    color: hsl(223, 87%, 63%);
    padding: 0.5em;
}

.icon-contain {
    border: 1px solid hsl(223, 100%, 88%);;
    display: flex;
    height: 3.8vh;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    width: 28px;
   
}

.icon-contain:hover {
    background: hsl(223, 87%, 63%);

}

.fa-brands:hover {
    color: white;
}
.social-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 6em;
    width: 80%;
    gap: 1.5em;
}

@media (min-width: 240px) {
    #btn {
        min-width: 260px;
    }

    input {
        min-width: 260px;
    }
}

@media (min-width: 375px) {
    #btn {
        min-width: 366px;
    }

    input {
        width: 365px;
    }

    .image-container {
        width: 400px;
    }

    #error {
        font-size: 14px;
        width: 310px;
        margin: 0.5em auto;
    }
}

@media (min-width: 440px) {
    h1 {
        font-size: 26px;
    }
}

@media (min-width: 700px) {
    main {
        width: 700px;
    }

    h1 {
        font-size: 38px;
        margin: 0em;
    }

    .text-p {
        margin: 0.8em 0;
    }

    #form {
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        gap: 1em;
    }

    .holder {
        flex-direction: row;
        margin-top: 1em;
        
    }

    input {
        width: 310px;
        padding-left: 6%;
    }

    #btn {
        width: 160px;
        height: 6vh;
    }

    #error {
        position: absolute;
        margin-left: 2.5em;
        margin-top: 8em;
    }

    .image-container {
        width: 768px;
        margin-top: 2.5em;
        padding-left: 40px;
    }

    .social-icon {
        margin-top: 4em;
    }


}













.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }